<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.agileapes.dragonfly"/>
    <context:component-scan base-package="com.agileapes.couteau.maven.mojo"/>

    <bean class="com.agileapes.dragonfly.entity.impl.DefaultEntityDefinitionContext"/>
    <bean class="com.agileapes.dragonfly.ext.impl.DefaultExtensionManager">
        <constructor-arg index="0" >
            <bean class="com.agileapes.dragonfly.ext.impl.DefaultExtensionExpressionParser"/>
        </constructor-arg>
        <constructor-arg index="1">
            <bean class="com.agileapes.dragonfly.metadata.impl.AnnotationTableMetadataResolver">
                <constructor-arg value="false"/>
            </bean>
        </constructor-arg>
    </bean>

</beans>