<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.agileapes.couteau.maven.mojo.SpringPluginConfigurator"/>
    <bean id="collectMetadata" class="com.agileapes.dragonfly.tasks.MetadataCollectorTask"/>
    <bean id="generateMetadataRegistry" class="com.agileapes.dragonfly.tasks.GenerateMetadataRegistryTask">
        <property name="dependencies">
            <set>
                <ref bean="collectMetadata"/>
            </set>
        </property>
    </bean>
    <bean id="generateApplicationContext" class="com.agileapes.dragonfly.tasks.GenerateApplicationContextTask"/>
    <bean id="generateStatementRegistry" class="com.agileapes.dragonfly.tasks.GenerateStatementRegistryTask">
        <property name="dependencies">
            <set>
                <ref bean="collectMetadata"/>
            </set>
        </property>
    </bean>
    <bean id="generateMapHandlers" class="com.agileapes.dragonfly.tasks.GenerateMapHandlersTask">
        <property name="dependencies" ref="collectMetadata"/>
    </bean>
    <bean class="com.agileapes.dragonfly.mojo.DependencyResolver"/>
    <bean id="outputManager" class="com.agileapes.dragonfly.io.OutputManager"/>

</beans>